<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello World!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="redirect_login" method="post">
    <div class="container">
        <label for="login">Login: </label>
        <input type="text" placeholder="Login" name="login" required>
        <br>
        <label for="password">Hasło: </label>
        <input type="password" placeholder="Hasło" name="password" required>
        <br>
        <button type="submit">Zaloguj</button>
    </div>
</form>
</body>
</html>

